.timeline
  width 100%
  height 40px

.accountMap
  background #001030
  width 100%
  height 400px

.account
  text
    text-anchor middle
    visibility hidden
    font-size 18px
  &:hover
    circle
      stroke rgba(210,210,210,1)
      stroke-width 6px
  text
    visibility visible
    
  
.optionsBar
  float right
  padding 10px

.currencyChooser 
  select
    width auto

body
  background #e8e8e8
