.timeline
  width 100%
  height 40px

.accountMap
  background #001030
  width 100%
  height 400px

.account
  cursor pointer
  text
    text-anchor middle
    visibility hidden
    color #333
  .name
    font-size 18px
  .amount
    font-size 40px
  .crosshair
    stroke-width 2px
  &:hover
    circle
      stroke rgba(210,210,210,1)
      stroke-width 1px
    text
      visibility visible
    
  
.optionsBar
  float right
  padding 10px

.currencyChooser 
  select
    width auto

body
  background #e8e8e8
